

.buttonClass {
    margin: auto auto;
    
    color: black;
    text-align: center;
    text-decoration: none;
    font: 22px arial;
    font-weight: bold;
    width: 250px;
    height: 100px;
}
.buttonClass:hover {
    text-decoration: none;
    transition: 2s;
    font: 28px arial;
    font-weight: bold;
}

.textClass {
    background-color: white;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    margin-bottom: 20px;
    border-bottom: 2px solid Black;
    color: black;
    margin-right: 20px;
}

    .textClass:hover {
        transition: 1s;
        box-shadow: 1px 1px 2px 1px #000;
        color: black;
    }

    .textClass:focus {
        border-left: 0;
        border-top: 0;
        border-right: 0;
        outline: none;
        box-shadow: 2px 2px 2px 1px #000;
        color: black;
    }   

p {
    text-align: center;
}
#contenerTBBT {
    height: 150px;
    width: 200px;
    margin: 0 auto;
    margin-top: 150px;
    text-align:center;
}