.buttonClass {
    background-color: black;
    border: 4px solid #999999;
    border-radius: 20px;
    width:70px;
    height:40px;
    color: white;
}

    .buttonClass:hover {
        transition: 1s;
        border-radius: 10px;
        border: 4px solid rgb(4, 97, 252);
        color: white;
    }

.textClass {
    background-color: white;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid Black;
    color: black;
    margin-right: 20px;
}

    .textClass:hover {
        transition: 1s;
        box-shadow: 1px 1px 2px 1px #000;
        color: black;
    }

    .textClass:focus {
        border-left: 0;
        border-top: 0;
        border-right: 0;
        outline: none;
        box-shadow: 2px 2px 2px 1px #000;
        color: black;
    }   

p {
    text-align: center;
}
#contenerTBBT {
    height: 100px;
    width:300px;

}